<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
    <li class="uk-nav-header">ACTIONS</li>
    <li><a href="#"><span data-uk-icon="icon: comments" class="uk-margin-small-right"></span>Notifications</a></li>
    <li class="uk-parent">
        <a href="#"><span data-uk-icon="icon: users" class="uk-margin-small-right"></span>Users</a>
        <ul class="uk-nav-sub">
            <li><a title="Article" href="">List</a></li>
            <li><a title="Article" href="">Invite User</a></li>
            <li><a title="Article" href="">Manage</a></li>
        </ul>
    </li>
    <li class="uk-parent">
        <a href="#"><span data-uk-icon="icon: tablet" class="uk-margin-small-right"></span>Devices</a>
        <ul class="uk-nav-sub">
            <li><a title="Article" href="">List</a></li>
            <li><a title="Article" href="">Invite User</a></li>
            <li><a title="Article" href="">Manage</a></li>
        </ul>
    </li>
    <li><a href="#"><span data-uk-icon="icon: comments" class="uk-margin-small-right"></span>Charts</a></li>
    <li class="uk-parent">
        <a href="#"><span data-uk-icon="icon: file-pdf" class="uk-margin-small-right"></span>Reports</a>
        <ul class="uk-nav-sub">
            <li><a href="#">Report 1</a></li>
            <li><a href="#">Report 2</a></li>
        </ul>
    </li>
</ul>
