/* Background Image Media Queries */
body.login {
	background-image: url('../img/cover/background_640x700.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 640px){
	body.login {
		background-image: url('../img/cover/background_9600x700.png');
	}
}	
@media screen and (min-width: 960px){
	body.login {
		background-image: url('../img/cover/background_1200x900.png');
	}
}	
@media screen and (min-width: 1200px){
	body.login {
		background-image: url('../img/cover/background_1200x900.png');
	}
}	
@media screen and (min-width: 1600px){
	body.login {
		background-image: url('../img/cover/background_2000x1000.png');
	}
}