
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@xl uk-grid-match js-filter" data-uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div > .uk-card; delay: 200" data-uk-grid>

    <!-- price -->
    <div>
        <div class="uk-card uk-card-default uk-card-small">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>Kitchen</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog; ratio: 1.2"></a>
                        <input type="checkbox" checked class="sd-toogle" style="vertical-align: middle;" data-uk-toggle="target: .toogle-state-1; animation: uk-animation-fade">
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-5" style="margin-top: 10px;">
                        <div class="toogle-state-1 uk-text-center">
                            <img src="~/Content/img/dashboard/light-on.svg">
                        </div>
                        <div class="toogle-state-1" hidden>
                            <img src="~/Content/img/dashboard/light-off.svg">
                        </div>
                    </div>
                    <div class="uk-width-expand">
                        <table class="uk-table">
                            <tbody>
                                <tr>
                                    <td><p>Connection</p></td>
                                    <td><span class="uk-text-success">Ok</span></td>
                                </tr>
                                <tr>
                                    <td><p>Power Consumption</p></td>
                                    <td><p class="uk-text-secondary">24W</p></td>
                                </tr>
                                <tr>
                                    <td><p>Voltage range</p></td>
                                    <td><p class="uk-text-secondary">110-130V</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><span>Intensity</span></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <span class="uk-text-bolder" id="dimVal_1">100</span><span class="uk-text-bolder">%</span>
                    </div>
                </div>
                <input id="1" type="range" class="sd-slider" value="100" min="10" max="100" oninput="UpdateDim(this)">
            </div>
        </div>
    </div>
    <!-- /price -->
    <!-- price -->
    <div>
        <div class="uk-card uk-card-default uk-card-small">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>Bathroom</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog; ratio: 1.2"></a>
                        <input type="checkbox" class="sd-toogle" style="vertical-align: middle;" data-uk-toggle="target: .toogle-state-2; animation: uk-animation-fade">
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-5" style="margin-top: 10px;">
                        <div class="toogle-state-2">
                            <img src="~/Content/img/dashboard/light-off.svg">
                        </div>
                        <div class="toogle-state-2" hidden>
                            <img src="~/Content/img/dashboard/light-on.svg">
                        </div>
                    </div>
                    <div class="uk-width-expand">
                        <table class="uk-table">
                            <tbody>
                                <tr>
                                    <td><p>Connection</p></td>
                                    <td><span class="uk-text-success">Ok</span></td>
                                </tr>
                                <tr>
                                    <td><p>Power Consumption</p></td>
                                    <td><p class="uk-text-secondary">24W</p></td>
                                </tr>
                                <tr>
                                    <td><p>Voltage range</p></td>
                                    <td><p class="uk-text-secondary">110-130V</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><span>Intensity</span></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <span class="uk-text-bolder" id="dimVal_2">100</span><span class="uk-text-bolder">%</span>
                    </div>
                </div>
                <input id="2" type="range" class="sd-slider" value="100" min="10" max="100" oninput="UpdateDim(this)">
            </div>
        </div>
    </div>
    <!-- /price -->
    <!-- price -->
    <div>
        <div class="uk-card uk-card-default uk-card-small " data-uk-scrollspy-class="uk-animation-slide-right-small">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>Living room</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog; ratio: 1.2"></a>
                        <input type="checkbox" class="sd-toogle" style="vertical-align: middle;" checked data-uk-toggle="target: .toogle-state-3; animation: uk-animation-fade">
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-5" style="margin-top: 10px;">
                        <img src="~/Content/img/dashboard/light-on.svg" class="toogle-state-3">
                        <img src="~/Content/img/dashboard/light-off.svg" class="toogle-state-3" hidden>
                    </div>
                    <div class="uk-width-expand">
                        <table class="uk-table">
                            <tbody>
                                <tr>
                                    <td><p>Connection</p></td>
                                    <td><span class="uk-text-success">Ok</span></td>
                                </tr>
                                <tr>
                                    <td><p>Power Consumption</p></td>
                                    <td><p class="uk-text-secondary">24W</p></td>
                                </tr>
                                <tr>
                                    <td><p>Voltage range</p></td>
                                    <td><p class="uk-text-secondary">110-130V</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><span>Intensity</span></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <span class="uk-text-bolder" id="dimVal_3">100</span><span class="uk-text-bolder">%</span>
                    </div>
                </div>
                <input id="3" type="range" class="sd-slider" value="100" min="10" max="100" oninput="UpdateDim(this)">
            </div>
        </div>
    </div>
    <!-- /price -->
    <!-- price -->
    <div>
        <div class="uk-card uk-card-default uk-card-small" data-uk-scrollspy-class="uk-animation-slide-right-small">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>Garage</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog; ratio: 1.2"></a>
                        <input type="checkbox" class="sd-toogle uk-disabled" style="vertical-align: middle;" data-uk-toggle="target: .toogle-state-4; animation: uk-animation-fade">
                    </div>
                </div>
            </div>
            <div class="uk-card-body uk-disabled">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-5" style="margin-top: 10px;">
                        <img src="~/Content/img/dashboard/light-off.svg" class="toogle-state-4">
                        <img src="~/Content/img/dashboard/light-on.svg" hidden class="toogle-state-4">
                    </div>
                    <div class="uk-width-expand">
                        <table class="uk-table">
                            <tbody>
                                <tr>
                                    <td><p>Connection</p></td>
                                    <td><span class="uk-text-danger">Offline</span></td>
                                </tr>
                                <tr>
                                    <td><p>Power Consumption</p></td>
                                    <td><p class="uk-text-secondary">24W</p></td>
                                </tr>
                                <tr>
                                    <td><p>Voltage range</p></td>
                                    <td><p class="uk-text-secondary">110-130V</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer uk-disabled">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><span>Intensity</span></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <span class="uk-text-bolder" id="dimVal_4">100</span><span class="uk-text-bolder">%</span>
                    </div>
                </div>
                <input id="4" type="range" class="sd-slider" value="100" min="10" max="100" oninput="UpdateDim(this)">
            </div>
        </div>
    </div>
    <!-- /price -->
    <!-- price -->
    <div>
        <div class="uk-card uk-card-default uk-card-small" data-uk-scrollspy-class="uk-animation-slide-right-small">
            <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>Pool</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog; ratio: 1.2"></a>
                        <input type="checkbox" class="sd-toogle" style="vertical-align: middle;" data-uk-toggle="target: .toogle-state-5; animation: uk-animation-fade">
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-5" style="margin-top: 10px;">
                        <img src="~/Content/img/dashboard/light-off.svg" class="toogle-state-5">
                        <img src="~/Content/img/dashboard/light-on.svg" hidden class="toogle-state-5">
                    </div>
                    <div class="uk-width-expand">
                        <table class="uk-table">
                            <tbody>
                                <tr>
                                    <td><p>Connection</p></td>
                                    <td><span class="uk-text-success">Ok</span></td>
                                </tr>
                                <tr>
                                    <td><p>Power Consumption</p></td>
                                    <td><p class="uk-text-secondary">24W</p></td>
                                </tr>
                                <tr>
                                    <td><p>Voltage range</p></td>
                                    <td><p class="uk-text-secondary">110-130V</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><span>Intensity</span></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                        <span class="uk-text-bolder" id="dimVal_5">100</span><span class="uk-text-bolder">%</span>
                    </div>
                </div>
                <input id="5" type="range" class="sd-slider" value="100" min="10" max="100" oninput="UpdateDim(this)">
            </div>
        </div>
    </div>
    <!-- /price -->
</div>

<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="#">
        <i class="material-icons">+</i>
    </a>
</div>

@section Scripts{

    <script>
        function UpdateDim(selectElem) {
            var rangePercent = selectElem.value;
            var id = selectElem.id;

            $('#dimVal_' + id).text(rangePercent);
            $(selectElem).css('filter', 'hue-rotate(-' + rangePercent + 'deg)');
        };
    </script>
}

