@model SDmS.Mvc.Models.Account.AccountEmailModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="uk-width-xxlarge uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade">
    <!-- TEXT -->
    <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
        <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Thank you for using our service.</h1>
        <div class="uk-width-1-1@m uk-margin-auto animate uk-invisible">
            <p class="lead">If the specified email address exists in the syste (@Model.Email), a password reset link will be sent to it.</p>
        </div>
    </div>
    <!-- /TEXT -->
    <br />
    <!-- home action -->
    <div>
        <div class="uk-text-center">
            <a href="/" class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade"><span data-uk-icon="arrow-left"></span> Back to Home</a>
        </div>
    </div>
    <!-- home action -->
</div>

