@using SDmS.Mvc.Models.Account
@model AccountChangePasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="uk-width-xlarge uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade">

    <!-- home action -->
    <div>
        <div class="uk-text-left">
            <a href="/" class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade"><span data-uk-icon="arrow-left"></span> Back to Home</a>
        </div>
    </div>
    <!-- home action -->

    <br />

    <!-- new password -->
    @using (Html.BeginForm("ResetPassword", "Account", new { email = ViewBag.Email, code = ViewBag.Code }, FormMethod.Post, new { @class = "toggle-class" }))
    {
        @Html.AntiForgeryToken()

        <fieldset class="uk-fieldset">
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "uk-input uk-border-pill", @placeholder = "New password", @required = "" })
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "uk-input uk-border-pill", @placeholder = "Confirm password", @required = "" })
                </div>
            </div>
            <div class="uk-margin-medium-top uk-width-small">
                <button type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">Reset</button>
            </div>
        </fieldset>
    }
    <!-- /new password -->
</div>
